[Desktop Entry]
Name=Python2
Comment=Python2 QtConsole
Keywords=python;qt;py;
Path=/data
Exec=jupyter qtconsole
StartupNotify=false
Terminal=false
Type=Application
Icon=Python
Categories=Development;IDE;
